.death-knight-color {
  height: 20px;
  background-color: #C41F3B;
  vertical-align: middle;
}

.demon-hunter-color {
  height: 20px;
  background-color: #A330C9;
  vertical-align: middle;
}

.druid-color {
  height: 20px;
  background-color: #FF7D0A;
  vertical-align: middle;
}

.hunter-color {
  height: 20px;
  background-color: #ABD473;
  vertical-align: middle;
}

.mage-color {
  height: 20px;
  background-color: #69CCF0;
  vertical-align: middle;
}

.monk-color {
  height: 20px;
  background-color: #00FF96;
  vertical-align: middle;
}

.paladin-color {
  height: 20px;
  background-color: #F58CBA;
  vertical-align: middle;
}

.priest-color {
  height: 20px;
  background-color: #FFFFFF;
  vertical-align: middle;
}

.rogue-color {
  height: 20px;
  background-color: #FFF569;
  vertical-align: middle;
}

.shaman-color {
  height: 20px;
  background-color: #0070DE;
  vertical-align: middle;
}

.warlock-color {
  height: 20px;
  background-color: #9482C9;
  vertical-align: middle;
}

.warrior-color {
  height: 20px;
  background-color: #C79C6E;
  vertical-align: middle;
}

.vert-middle {
  position: absolute;
  top: 50%;
}
