.character-popover {
  cursor: pointer;
  text-decoration: none;
}

.no-attendance-logged {
  background-color: rgba(235, 106, 106, 0.69);
}

.days-absent {
  background-color: rgba(235, 179, 106, 0.58);
}
