.character-popover {
  cursor: pointer;
  text-decoration: none;
}

.no-attendance-logged {
  background-color: rgba(63, 191, 95, 0.44);
}

.can-attend-all {
 background-color: rgba(63, 191, 95, 0.67);
}
